// Global default params, used in configs
params {

    input_reads = "/data/bioinfo/FC/pmaragno/immubac_new/samples2.csv"
    outdir = "/data/bioinfo/FC/pmaragno/immubac_new/nextflow"
    
    genome_fasta_1 = "/data/bioinfo/FC/pmaragno/references_for_shotgun/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna"
    genome_fasta_2 = false
    //genome_fasta_2 = "/data/bioinfo/FC/pmaragno/references_for_shotgun/GCF_000001635.27_GRCm39_genomic.fna"  // false or path to the fasta of the genome 2   
    genome_index_1 = "/data/bioinfo/FC/pmaragno/references_for_shotgun/human_genome" // false or path to the directory containing bowtie2 index of the human genome
    idx_genome_1 = 'GCF_009914755.1_T2T-CHM13v2.0'
    genome_index_2 = false
    //genome_index_2 = "/data/bioinfo/FC/pmaragno/references_for_shotgun/mouse_genome" // false or path to the directory containing bowtie2 index of the mouse genome
    idx_genome_2 = false
    //idx_genome_2 = 'GCF_000001635.27_GRCm39' // false or name for the directory containing the index of genome 2

    trimmomatic_MINLEN = 36 

    metaphlan_db = "/data/bioinfo/FC/pmaragno/references_for_shotgun/metaphlan_db"

    metaphlan_read_min_len = 36

    utility_db = "/data/bioinfo/FC/pmaragno/references_for_shotgun/humann_dbs/utility_mapping/"
    humann_protein_db = "/data/bioinfo/FC/pmaragno/references_for_shotgun/humann_dbs/uniref/"	
    gene_families_db = "uniref90"
    human_nucleotide_db = "/data/bioinfo/FC/pmaragno/references_for_shotgun/humann_dbs/chocophlan"
    regroup_option = "uniref90_ko"
    rename_option = "kegg-orthology"
}

singularity {
        	enabled = true
        	autoMounts = false
		cacheDir = "./containers/"
		conda.enabled = true
	}

conda {
        enabled = true
	singularity.enabled = true
}

process {
	shell = ['/bin/bash', '-euo', 'pipefail']
        beforeScript = 'module load singularity'
	executor = 'pbspro'
        //executor = 'local'
        //queue = 'interact'
	queue = 'workq'
     	perJobMemLimit = true
        cpus = 28
        memory = 375.GB
	containerOptions = '--bind /data/bioinfo/FC/:/data/bioinfo/FC/'
}

tower {
  enabled = true
  endpoint = '-'
  accessToken = 'eyJ0aWQiOiA4ODExfS43NWNjYTNiOTYxNjE4N2YyNTc2ODYyYWFlZTlhMTQxZWRiYmQxZGNi'
}

manifest {
    name            = 'Whole_Metagenome_Shotgun_Analysis'
    author          = "Paola Maragno"
    homePage        = 'https://github.com/paolamaragno/Whole_Metagenome_Shotgun_Analysis'
    description     = "Pipeline for the taxonomic and functional characterization of samples analysed throught Whole Metagenome Shotgun sequencing"
    mainScript      = 'main.nf'
    nextflowVersion = '24.04.4'
    version         = '0.0.1'
}
