params {

	version = '1.0.0'

	help = false

	// The following are parameters that can be changed by the user
    
	input_reads = false	// Path to the comma-separated sample file
	outdir = false		// Path to a folder where to store results

	merged_paired_fastq = false	// Specification whether the input fastq file has been obtained by the merging of forward and reverse reads
  
	genome_fasta = "/rg/ivd-meinel/rmeyer/databases_for_shotgun/Mus_musculus.GRCm39.dna.primary_assembly.fa.gz"	// Path to the genome fasta file   
	genome_index = false	// Path to the folder containing the index of the genome (default: false, in this case the indexing of the genome will be done by the pipeline)
	idx_genome = 'Mus_musculus.GRCm39'	// Name to use for the the index of the genome

	metaphlan_db =  false	// Path to the folder containing Metaphlan database (default: false, in this case the database will be downloaded by the pipeline) 

	metaphlan_db_index = 'mpa_vJun23_CHOCOPhlAnSGB_202403'	// Desired version for metaphlan database

	humann_nucleotide_db = false		// Path to the folder containing Humann nucleotide database (default: false, in this case the database will be downloaded by the pipeline)
	humann_protein_db = false	// Path to the folder containing Humann protein database (default: false, in this case the database will be downloaded by the pipeline)
	gene_families_db = "uniref90"	// Specification of the version of Uniref database for gene family definitions 
	regroup_option = "uniref90_ko"	// Specification of the functional category in which regrouping gene families 
	rename_option = "kegg-orthology"	// Specification of the feature type in which rename gene families

	save_reference = true      // Choose whether saving or not the downloaded reference databases

}

profiles {

	debug {
		dumpHashes             = true
		process.beforeScript   = 'echo $HOSTNAME'
		cleanup                = false
		nextflow.enable.configProcessNamesValidation = true
	}

	conda {
		conda.enabled          = true
		conda.useMamba	       = false
		docker.enabled         = false
		singularity.enabled    = false
		podman.enabled         = false
		shifter.enabled        = false
		charliecloud.enabled   = false
		apptainer.enabled      = false
		conda.channels = ['conda-forge', 'bioconda']
		conda.cacheDir = "${projectDir}/conda_envs"
		params {
			run_mode = 'conda'
		}
	}

	mamba {
		conda.enabled          = false
		conda.useMamba         = false
		docker.enabled         = false
		singularity.enabled    = false
		podman.enabled         = false
		shifter.enabled        = false
		charliecloud.enabled   = false
		apptainer.enabled      = false
	}

	docker {
		docker.enabled         = true
		conda.enabled          = false
		singularity.enabled    = false
		podman.enabled         = false
		shifter.enabled        = false
		charliecloud.enabled   = false
		apptainer.enabled      = false
		docker.runOptions      = '-u $(id -u)'  
		params {
			run_mode = 'docker'
		}
	}

	arm {
		docker.runOptions      = '-u $(id -u):$(id -g)'
	}

	singularity {
		singularity.enabled    = true
		singularity.autoMounts = true
		conda.enabled          = false
		docker.enabled         = false
		podman.enabled         = false
		shifter.enabled        = false
		charliecloud.enabled   = false
		apptainer.enabled      = false
	}

	apptainer {
		apptainer.enabled      = true
		apptainer.autoMounts   = true
		conda.enabled          = false
		docker.enabled         = false
		singularity.enabled    = false
		podman.enabled         = false
		shifter.enabled        = false
		charliecloud.enabled   = false
		apptainer.pullTimeout = '30m'
		apptainer.cacheDir = "${projectDir}/apptainer_containers"
		apptainer.runOptions = "-B ${baseDir}:${baseDir}"
		params {
			run_mode = 'apptainer'
		}
	}

}

apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
singularity.registry  = 'quay.io'

process {
	shell = ['/bin/bash', '-euo', 'pipefail']
	executor = 'slurm'
	errorStrategy = { task.exitStatus in [137, 140, 143, 104] ? 'retry' : 'finish' }
	maxRetries = 3
}

tower {
	enabled = true
	endpoint = '-'
	accessToken = 'eyJ0aWQiOiAxMjE0OH0uMDM3YzBiMmY0YTI1MzhkNDI5YmE3OTAyOTE3NGE3Nzc2ZWQ3NDE4YQ=='
}

manifest {
	name            = 'Whole_Metagenome_Shotgun_Analysis'
	author          = "Paola Maragno"
	homePage        = 'https://github.com/paolamaragno/Whole_Metagenome_Shotgun_Analysis'
	description     = "Pipeline for the taxonomic and functional characterization of samples analysed throught Whole Metagenome Shotgun sequencing"
	mainScript      = 'main.nf'
	version         = '1.0.0'
}
